body {
   font-family: Roboto, Helvetica, sans-serif;
   text-align: center;
}

.x {
   color: red;
}

.o {
   color: blue;
 }
 
#board {
   font: 85px arial, sans-serif;
   margin: 3px;
   
   /* Your solution goes here */ 
   display: grid;
   grid-template-columns: repeat(3, 100px);
   grid-template-rows: repeat(3, 100px);
   justify-content: center;
   grid-gap: 10px;
}

#board > div {
   font-family: "Papyrus", fantasy;
   border: 1px solid LightSkyBlue;
   text-align: center;
   background-color: rgb(255, 161, 30);
}


#board > div:hover {
   transform: scale(1.1);
   box-shadow: 5px 5px 10px #000000;
   background-color: rgb(9, 9, 86);
}
